/* HERO SECTION */

.Main-sectionHero{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    /* Etiqueta contenedora tiene posición relative para poder darle a las hijas posición absolute */
   
}
.Main-wrapper{
    max-width: 65%;
    /* Para que no se extienda más en pantallas más grandes */
    gap: 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 3;
    /* Para que el wrapper quede encima de la "imagen hero" */
}
.Main-pictureHero{
    width: 100%;
    min-height: 100vh;

    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.Main-imgHero{
    width: 100%;
    min-height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* Para que esta imagen quede abajo del Header y del Wrapper */

    overflow: hidden;
    object-fit: cover;
}
.Main-overlay{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    z-index: 2;
}


/* @media HERO SECTION*/

@media(max-width:480px){
    .Main-h2{
    font-size: var(--font-size-48);
    }
    .Main-p--hero{
    font-size: var(--font-size-20);
    line-height: 1.5rem;
    }
}


/* ABOUT US SECTION */

.Main-sectionAboutUs{
    width: 100%;
    background-color: var(--color-lightgreen);
    padding: var(--padding-section);
    gap: 4rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Main-sectionWrapper{
    width: 80%;
    gap: 2.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* CONTACT US SECTION */

.Main-sectionContactUs{
    width: 100%;
    background-color: var(--color-white);
    gap: 2.5rem;
    padding: var(--padding-section);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Main-mapContainer{
    width: 100%;
    min-height: 50vh;

    position: relative;

}

.Main-iframe{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-big);

    position: absolute;
    top: 0;
    left: 0;

}

.Main-gridContainer{
    width: 100%;
    gap: 1.25rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.Main-card{
    width: 100%;
    min-height: 12.5rem;
    gap: 1.25rem;
    padding: 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: var(--color-lightgreen);
    border-radius: var(--border-radius-big);
}

.Main-cardIcon{
    width: 2rem;
    height: 2rem;
}
.Main-h5About{
    font-family: var(--primary-font);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    text-transform: uppercase;
    background-color: transparent;
    text-align: left;
}
.Main-p--left{
    color: var(--color-black);
    font-size: var(--font-size-20);
    text-align: left;
    background-color: transparent;
}


@media(max-width:768px){
    .Main-gridContainer{
        grid-template-columns: repeat(2,1fr);
    }
    .Main-card--callUs{
        grid-column: span 2;
    }

}

@media(max-width:480px){
    .Main-gridContainer{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Main-sectionAboutUs,
    .Main-sectionContactUs{
        padding: var(--padding-section) var(--padding-section-mobile);
    }

}








