/* header + footer */
/* todo lo que es igual en todas las paginas

las variables del root,
botones que siempre son iguales,
custom properties,
estilos iguales,
keyframes,
animaciones*/

/* BODY */

body{
    background-color: var(--color-white);
}

/* TIPOGRAFÍAS */
/* En cuanto a las tipografías, descargué las que eran necesarias para poder autohospedarlas y mejorar el rendimiento de la página */

 /* antic-didone-regular */
 @font-face {
    font-display: swap; 
    font-family: 'Antic Didone';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/antic_didone/antic-didone-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-400 - regular */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - medium */
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/montserrat/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - semi-bold */
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/montserrat/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - bold */
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/montserrat/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/* ROOT */

:root{
    font-size: 100%;

    /* --- CSS CUSTOM PROPERTIES --- */
    /* Creé custom properties de CSS dentro del root para hacer el diseño más profesional y versátil. 
    En caso de que sea necesario realizar cambios a gran escala, esto será muy útil. */

    /* Fonts types */
    --primary-font: 'Montserrat';
    --secondary-font: 'Antic Didone';

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font Sizes */
    /* Para los tamaños de las tipografías utilicé la función clamp para que la tipografía se pueda adaptar automáticamente 
    a diferentes tamaños de pantalla dándole a cada font-size un valor máximo, mínimo y preferido. */
    --font-size-64: clamp(2.25rem, 5vw, 4rem);
    --font-size-48: clamp(2rem, 3.5vw, 3rem);
    --font-size-36: clamp(1.5rem, 3vw, 2.25rem);
    --font-size-32: clamp(1.25rem, 2.5vw, 2rem);
    --font-size-24: clamp(0.875rem, 2vw, 1.5rem);
    --font-size-20: clamp(1rem, 1.5vw, 1.25rem);
    --font-size-16: 16px;

    /* Border radius */
    --border-radius-big: 2.5rem;
    --border-radius-small: 1.5625rem;

    /* Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-green: #1B828D;
    --color-grey: #737373;
    --color-lightgreen: rgba(1, 158, 169, 0.25);
    --color-card-background: #FAFAFA;

    /* Padding */
    --padding-section-desktop: 6.25rem;
    --padding-section-tablet: 3.4375rem;
    --padding-section-mobile: 2rem;
    --padding-section: 10%;

}

/* ESTILOS DE TEXTO QUE SE REPITEN */

    /* ENCABEZADOS */

.Main-h2{
    font-family: var(--secondary-font);
    color: var(--color-white);
    font-size: var(--font-size-64);
    text-align: center;
    text-transform: uppercase;
}
.Main-h3{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}
.Main-h3--green{
    color: var(--color-green);
    text-align: center;
}
.Main-h3--white{
    color: var(--color-white);
    text-align: left;
}
.Main-h3--black{
    width: 100%;
    color: var(--color-black);
    text-align: left;
    font-weight: var(--font-weight-bold);
}
.Main-h4{
    font-family: var(--secondary-font);
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-48);
}
.Main-h5{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-green);
    text-transform: uppercase;
    background-color: transparent;
}
.Main-h6{
    font-family: var(--primary-font);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    text-transform: uppercase;
}
.Main-h6--white{
    color: var(--color-white);
    text-align: left;
}

    /* PÁRRAFOS */

.Main-p{
    font-family: var(--primary-font);
}
.Main-p--hero{
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-medium);
    text-align: center;
    color: var(--color-white);
    line-height: 2.5rem;
}
.Main-p--section{
    color: var(--color-black);
    font-size: var(--font-size-20);
    text-align: center;
}
.Main-p--destinations{
    font-size: var(--font-size-16);
    color: var(--color-black);
}
.Main-p--packages{
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-grey);
    text-align: left;
}


    /* ELEMENTOS CON APARIENCIA DE BOTÓN */

.Main-button{
    background-color: var(--color-green);
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius-big);
    border: solid .0625rem var(--color-white);
    padding: 1.25rem 1rem;
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
}

.Main-button--form{
    width: 13.625rem;
    min-height: 4rem;
}

.Main-button--section{
    width: 14.5rem;
}



/* HEADER */

/* Aquí tuve que dividir las propiedades de .Header en varios fragmentos porque el validador CSS decía 
que tenía demasiadas declaraciones en un solo conjunto de reglas. */
.Header{
    width: 100%;
    min-height: 6.25rem;
    background-color: transparent;
    padding: 1.875rem var(--padding-section);
}
.Header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    /* Quiero que el Header esté encima de la "imagen hero" y pegada de los bordes de la ventana, así que le di una posición absoluta 
    y z-index de 2. La "imagen hero" tendrá un z-index de 1.  */
    /* A la hora de hacer responsive tuve que cambiar el z-index del Header a 3 porque en pantallas más pequeñas el .Main-wrapper cubria
    el menu hamburguesa (que es parte del header) cuando este estaba abierto */
}
.Header-a--home{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    gap: .5rem;
}
.Header-svg{
    width: 2.5rem;
    min-height: 2.5rem;
}
.Header-h1{
    font-family: var(--secondary-font);
    font-size: var(--font-size-24);
    color: var(--color-white);
}
.Header-button{
    width: 1.25rem;
    min-height: 1.25rem;

    display: none;
}
.Header-hamburger{
    color: var(--color-white);
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
    gap: 3rem;
}
.Header-li{
    font-family: var(--primary-font);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    text-transform: uppercase;
}
.Header-li:hover,
.Header-li:active{
    text-decoration: underline;
    text-underline-offset: .25rem;
    /* Efecto de hover y active sobre los items del nav */
}

/* @media HEADER*/

@media(max-width:960px){
    .Header-ul{
        gap: 1.5rem;
    }
}

@media(max-width:768px){
    .Header{
        flex-wrap: wrap;
    }
    .Header-svg{
        width: 1.5rem;
        min-height: 1.5rem;
    }
    .Header-button{
        display: block;
    }
    .Header-nav{
        background-color: var(--color-green);
        width: 100%;

        position: absolute;
        top: 6.25rem;
        left: 0;

        transform: translateY(-100%);
        transition: transform 1s ease;

        opacity: 0;
        pointer-events: none;
    }
    .Header-nav.isVisible{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%);
    }
    .Header-ul{
        flex-direction: column;
        margin: 1.25rem 0rem;
    }
}

@media(max-width:480px){
    .Header-svg{
        width: 1rem;
        min-height: 1rem;
    }
}


/* FOOTER */

.Footer{
    width: 100%;
    padding: 4rem var(--padding-section);
    background-color: var(--color-green);
    color: var(--color-white);

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
}
.Footer-wanderlust{
    width: 100%;
    gap: 2.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Footer-logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    gap: .5rem;
}
.Footer-h2{
    font-family: var(--secondary-font);
    color: var(--color-white);
    font-size: var(--font-size-32);
}
.Footer-p{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
}
.Footer-h4{
    font-family: var(--primary-font);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--color-white);
}
.Footer-span{
    font-family: var(--primary-font);
    font-size: var(--font-size-20);
    color: var(--color-white);
}
.Footer-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.Footer-world{
    width: 2.5rem;
    height: 2.5rem;
}

.Footer-contacts{
    width: 100%;
    gap: 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Footer-phone,
.Footer-email,
.Footer-address{
    width: 100%;
    gap: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.Footer-phoneNumber,
.Footer-emailAddress,
.Footer-direction{
    width: 100%;
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
}
.Footer-direction{
    font-style: normal;
    /* Como usé la etiqueta "address", el texto estaba en cursiva y esta declaración es para que parezca normal. */
}
.Footer-subscribe{
    width: 100%;
    gap: 2rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Footer-spanSubscribe{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
}
.Footer-form{
    width: 100%;
}
.Footer-input{
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-big);
    padding: .625rem 1rem;

    font-family: var(--primary-font);
    font-size: var(--font-size-20);
}
.Footer-button{
    width: 100%;
    padding: 0.625rem 1rem;
    background-color: var(--color-green);
    border: solid .0625rem var(--color-white);
    color: var(--color-white);
    border-radius: var(--border-radius-big);

    font-family: var(--primary-font);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-medium);
}
.Footer-social{
    width: 100%;
    gap: 1.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.Footer-svg{
    width: 2rem;
    height: 2rem;
    color: var(--color-white);

    transition: transform 0.5s ease;
}
.Footer-svg:hover{
    transform: scale(1.2);
}
.Copyright{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    color: var(--color-grey);
    text-align: center;
    background-color: var(--color-white);
    padding: 1rem 0rem;
}

/* @media FOOTER*/

@media(max-width:1130px){
    .Footer-wanderlust,
    .Footer-contacts,
    .Footer-subscribe{
        width: 15.625rem;
    }
}

@media(max-width:960px){
    .Footer{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        gap: 3.125rem;
    }
    .Footer-wanderlust,
    .Footer-contacts,
    .Footer-subscribe{
        width: 100%;
        gap: 1rem;
    } 
}

@media(max-width:480px){
    .Footer{
        flex-direction: column;
    }
}



