
/* HERO SECTION */

.Main-sectionHero{
    width: 100%;
    min-height: 100vh;
    /* background-image: url(../assets/images/webp/hero/hero_2000x1500.webp); */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    /* Etiqueta contenedora tiene posición relative para poder darle a las hijas posición absolute */
   
}
.Main-wrapper{
    max-width: 65%;
    /* Para que no se extienda más en pantallas más grandes */
    gap: 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;
    /* Para que el wrapper quede encima de la "imagen hero" */
}
.Main-h2{
    font-family: var(--secondary-font);
    color: var(--color-white);
    font-size: var(--font-size-64);
    text-align: center;
    text-transform: uppercase;
}
.Main-p{
    font-family: var(--primary-font);
}
.Main-p--hero{
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-medium);
    text-align: center;
    color: var(--color-white);
    line-height: 2.5rem;
}
.Main-imgHero{
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* Para que esta imagen quede abajo del Header, del Wrapper y del Form */

    overflow: hidden;
    object-fit: cover;
}

@media(max-width:1130px){
    .Main-wrapper{
        top: 9.375rem;
        /* El wrapper esta centrado verticalmente dentro de la sección Hero pero en este breakpoint, el "form" empieza a 
        ocupar más espacio hacia arriba y cubre el texto del wrapper. Así que le di un top de 350px para subirlo un poco */
    }
}
@media(max-width:768px){
    .Main-wrapper{
        top: 9.375rem;
    }
}
@media(max-width:480px){

    .Main-wrapper{
        top: 6.25rem;
        /* Ajustando el wrapper otra vez para que se suba un poco */
    }
    .Main-p--hero{
        line-height: 1.5rem;
    }
}


/* FORMULARIO */

.Main-form{
    width: 100%;
    background-color: var(--color-green);
    gap: 1rem;
    padding: 1rem var(--padding-section);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    font-family: var(--primary-font);
    font-size: var(--font-size-16);

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* Quiero que el Form quede encima de la "imagen hero", por eso le di una posición absoluta y z-index de 2  */
}
.Main-destination,
.Main-pax,
.Main-checkin,
.Main-checkout{
    background-color: lightblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    gap: 1rem;
}
.Main-select,
.Main-input,
label{
    width: 100%;
    color: var(--color-white);
    padding-left: 1rem;
    
}
.Main-select,
.Main-input{
    color: var(--color-grey);
    background-color: var(--color-white);
    border-radius: var(--border-radius-big);

    padding: 1.25rem 1rem;
}
.Main-select{
    appearance: none;
    /* Para que no se vea la "flechita" del campo select porque se veía muy pegada del borde */
}
.Main-select,
.Main-input,
.Main-button{
    background-color: lightcoral;
    width: 13.625rem;
    min-height: 4rem;

}
.Main-button,
.Main-a{
    background-color: var(--color-green);
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius-big);
    border: solid .0625rem var(--color-white);
    padding: 1.25rem 1rem;
}
.Main-a{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    width: 13.625rem;
}

@media(max-width:1440px){
    .Main-select,
    .Main-input,
    .Main-button{
        background-color: lightcoral;
        width: 11.25rem;
        min-height: 4rem;
    }
}

@media(max-width:1250px){
    .Main-select,
    .Main-input,
    .Main-button{
        background-color: lightcoral;
        width: 10rem;
        min-height: 4rem;
    }
}

@media(max-width:1130px){
  
    .Main-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .Main-destination,
    .Main-pax,
    .Main-checkin,
    .Main-checkout{
        width: 100%;
    }
    .Main-select,
    .Main-input{
        width: 100%;
    }
    .Main-button{
        width: 100%;
        grid-column: span 2;
    }
    .Main-select,
    .Main-input,
    .Main-button{
        min-height: 1.5rem;
}

@media(max-width:480px){
    .Main-form{
        display: flex;
        flex-direction: column;
    }
    .Main-select,
    .Main-input,
    .Main-button{
        min-height: 2rem;
        padding: 1rem 1rem;
        /* Para que los campos de input se vean un poco más pequeños */
    }
}



/* POPULAR DESTINATIONS SECTION */

.Main-section{
    width: 100%;
    padding: var(--padding-section);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Main-section--white{
    background-color: var(--color-white);
    gap: 2.5rem;}
.Main-sectionWrapper{
    width: 70%;
    gap: 2.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Main-h4{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}
.Main-h4--green{
    color: var(--color-green);
    text-align: center;
}
.Main-h3{
    font-family: var(--secondary-font);
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-48);
}
.Main-p--section{
    color: var(--color-black);
    font-size: var(--font-size-20);
    text-align: center;
}



/* POPULAR DESTINATIONS CAROUSEL */

.Main-carousel{
    width: 100%;

    overflow: hidden;
    /* Para que se vea solo un "frame" a la vez */
}
.Main-carouselContainer{
    width: 200%;
    margin-bottom: 2.5rem;
    /* gap: 95px; */
    /* gap entre frames */

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: transform 1s ease;
}
.Main-carouselFrame{
    width: 100%;
    gap: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Main-carouselDots,
.Main-carouselReviewsDots{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}
.Main-carouselDot,
.Main-carouselReviewsDot{
    width: 1rem;
    min-height: 1rem;
    border-radius: 50%;
    background-color: var(--color-grey);
}
.Main-carouselDot--tablet,
.Main-carouselDot--mobile{
    display: none;
}
.Main-carouselDot.isClicked,
.Main-carouselReviewsDot.isClicked{
    background-color: var(--color-green);
}



/* POPULAR DESTINATIONS CARD */

.Main-cardDestination{
    width: calc(100% / 3);
    min-height: 31.5rem;
    padding: 1rem;

    border-radius: var(--border-radius-big);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    /* transition: transform 0.5s ease; */
}
/* .Main-cardDestination:hover{
    transform: scale(1.05);
} */

/* Despues de poner las imagenes dentro de la etiqueta picture empezé a tener problemas porque la imagen solo cubria la mitad de la card
así que en lugar de "min-height" añadi "height" a la etiqueta Main-picture y tambien a la Main-cardImage y me solucionó el problema */
.Main-picture{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: var(--border-radius-big);
    overflow: hidden;
    z-index: 1;
}
.Main-cardImage{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
/* Aquí tuve que dividir las propiedades de .Main-cardContent en varios fragmentos porque el validador CSS decía 
que tenía demasiadas declaraciones en un solo conjunto de reglas. */
.Main-cardContent{
    width: 90%;
    min-height: 15.75rem;   
    gap: 1rem;
    padding: 3rem 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.Main-cardContent{
    background-color: var(--color-white);
    border-radius: var(--border-radius-big);
}
.Main-cardContent{
    position: absolute;
    bottom: 1rem;
    /* left: 1.5rem; */
    z-index: 2; 
}
/* Aquí tuve que dividir las propiedades de .Main-starRating en dos fragmentos porque el validador CSS decía 
que tenía demasiadas declaraciones en un solo conjunto de reglas. */
.Main-starRating{
    background-color: var(--color-green);
    padding: .25rem .5rem;
    gap: 4px;
    border-radius: var(--border-radius-big);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Main-starRating{
    position: absolute;
    top: calc(-23px/2);
    /* Quiero que la etiqueta .Main-starRating se coloque visualmente encima del borde superior de .Main-cardContent (su contenedora) 
    y que su height esté centrado con este borde. Es decir, para que la etiqueta .Main-starRating se pegue del borde superior de su 
    contenedora le daría un top = 0. Pero quiero que se "salga" un poco de su contenedora hacia arriba con una distancia equivalente 
    a mitad de su height. El height de .Main-starRating es de 23px. Así qué le tendré que dar un top con valor negativo y la distancia 
    que se tiene que "deslocar" es la mitad de 23px.*/
    right: 3.125rem;
    z-index: 3;
}
.Main-h6{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-green);
    text-transform: uppercase;
}
.Main-h5{
    font-family: var(--primary-font);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    text-transform: uppercase;
}
.Main-p--destinations{
    font-size: var(--font-size-16);
    color: var(--color-black);
}

.Main-button--section{
    width: 14.5rem;
}



/* TRAVEL PACKAGES SECTION */

.Main-section--lightgreen{
    background-color: var(--color-lightgreen);
    gap: 2.5rem;
}
.Main-cardWrapper{
    width: 100%;
    gap: 5rem;
    /* ou 40px? */

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Main-cardPackage{
    width: 100%;
    min-height: 20rem;
    border-radius: var(--border-radius-big);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    overflow: hidden;

    transition: transform 0.5s ease;
}
.Main-cardPackage:hover{
    transform: scale(1.05);
}
.Main-picturePackage{
    width: calc(100% / 3);
    /* Aquí tuve el mismo problema que con las imágenes de las "popular destination cards". 
    Tuve que cambiar de "min-height" a "height" porque la imagen no cubría todo el espacio de la card. */
    height: 20rem;
    border-top-left-radius: var(--border-radius-big);
    border-bottom-left-radius: var(--border-radius-big);

    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.Main-cardInfo{
    width: calc(100% / 3);
    min-height: 20rem;
    background-color: var(--color-card-background);
    /* padding: 48px 32px; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Main-cardInfoWrapper{
    width: 90%;
    gap: 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.Main-p--packages{
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-grey);
}
.Main-cardLabel{
    padding: .5rem 1rem;
    gap: 1.5rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    box-shadow: -4px -4px 15px 0px rgba(0, 0, 0, 0.10), 
                 4px 4px 15px 0px rgba(0, 0, 0, 0.10);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Main-cardNights,
.Main-cardCountry{
    gap: .5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.Main-cardSpan{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-grey);
}
.Main-cardLine{
    width: 1px;
    min-height: 1rem;
    background-color: var(--color-grey);
}
.Main-cardClock,
.Main-cardMap{
    width: 1.5rem;
    height: 1.5rem;
}
.Main-cardDetails{
    width: calc(100% / 3);
    min-height: 20rem;
    gap: 2.5rem;
    background-color: var(--color-green);
    border-top-right-radius: var(--border-radius-big);
    border-bottom-right-radius: var(--border-radius-big);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Main-cardRating{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: .5rem;
}
.Main-cardReviews{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    color: var(--color-white);
}
.Main-cardStars{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: .25rem;
}
.Main-cardPriceInfo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: .5rem;
}
.Main-cardPrice{
    font-family: var(--primary-font);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    text-align: center;
}
.Main-cardPerPerson{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    color: var(--color-white);
    text-align: center;
}



/* CLIENT REVIEWS CAROUSEL */

.Main-carouselReviews{
    width: 80%;

    overflow: hidden;
}
.Main-carouselReviewsContainer{
    width: 300%;
    margin-bottom: 2.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: transform 1s ease;
}
.Main-carouselReview{
    width: 100%;
    gap: 2.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Main-carouselReviewImg{
    width: 6.25rem;
    min-height: 6.25rem;
    border-radius: 50%;
    /* Para que la foto sea un círculo */

    object-fit: cover;
    overflow: hidden;
}
.Main-reviewSpan{
    font-family: var(--primary-font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: var(--color-green);
    text-align: center;
}



/* CALL TO ACTION SECTION */

.Main-section--callToAction{
    background-color: var(--color-green);
    gap: 2.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Main-callToActionWrapper{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    gap: 2.5rem;
}
.Main-h4--white,
.Main-h5--white,
.Main-p--white{
    color: var(--color-white);
    text-align: left;
}



/* FAQ ACCORDION SECTION */

.Main-accordionContainer{
    width: 100%;
    gap: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.Main-accordionBlock{
    width: 100%;
    background-color: var(--color-lightgreen);
    padding: 1.75rem 5.125rem;
    border-radius: var(--border-radius-big);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.Main-accordionQuestion{
    width: 100%;
    gap: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Main-h4--black{
    width: 100%;
    color: var(--color-black);
    text-align: left;
    font-weight: var(--font-weight-bold);
}
.Main-accordionIcon{
    width: 1.5rem;
    height: 1.5rem;

    transition: all 1s ease;
}
.Main-accordionIcon.isClicked{
    transform: rotate(180deg);
}
.Main-p--accordion{
    width: 90%;
    text-align: left;
    background-color: transparent;

    height: 0rem;
    opacity: 0;

    transition: opacity 1s ease,
                height 1s ease;
    overflow: hidden;
}
.Main-p--accordion.isVisible{
    height: 4.5rem;
    opacity: 1;
}




/* @ media */
/* Los principales breakpoints son
        - Pantallas grandes: 1600px
        - Desktop: 1024px
        - Tablet: 768px
        - Mobile: 480px */
/* Además de los principales, tuve que crear breakpoints adicionales para arreglar ciertos elementos en ciertos tamaños que lo necesitaban. */

@media(max-width:1440px){
    .Main-h5{
        font-size: var(--font-size-20);
    }
}
@media(max-width:1328px){
    /* .Main-p--accordion.isVisible{
        height: 100px;
    } */
}

@media(max-width:1000px){
    .Main-carouselDot--tablet{
        display: block;
    }
    .Main-carouselContainer{
        width: 300%;
    }
    .Main-cardDestination{
        width: calc(100% / 2);
        min-height: 31.5rem;
    }
    .Main-h5{
        font-size: var(--font-size-32);
    }

}

@media(max-width:1130px){
  

    .Main-cardDestination{
        min-height: 25rem;
    }

    .Main-cardPackage{
        flex-direction: column;
        min-height: 10rem;
    }
    .Main-picturePackage,
    .Main-cardInfo,
    .Main-cardDetails{
        width: 100%;
        min-height: 10rem;
    }
    .Main-picturePackage{
        border-top-left-radius: var(--border-radius-big);
        border-top-right-radius: var(--border-radius-big);
        border-bottom-left-radius: 0;
    }
    .Main-cardInfoWrapper{
        margin: 2.5rem 0rem;
    }
    .Main-cardDetails{
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--border-radius-big);
        border-bottom-left-radius: var(--border-radius-big);

        gap: 1.25rem;
        padding: 2.5rem 0rem;
    }

    
}


@media(max-width:768px){

    .Main-cardDestination{
        min-height: 25rem;
    }

    .Main-section--callToAction{
        flex-direction: column;
        gap: 2.5rem;
    }

}

@media(max-width:640px){
    .Main-carouselDot--mobile{
        display: block;
    }
    .Main-carouselContainer{
        width: 600%;
    }
}

@media(max-width:480px){
    .Main-cardLabel{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .Main-cardLine{
        display: none;
    }
}












